{% extends 'master/base.html' %}

{% block content %}
<div class="container">
  <div class="card">
    <h1>Job List</h1>

    {% if request.user.user_type == 'Employer' %}
    <a href="{% url 'add_job' %}" class="btn">Add Job</a>
    {% endif %}

    {% include 'master/message.html' %}

    <div class="table-container">
      <table>
          <tr>
              <th>SL</th>
              <th>Job Title</th>
              <th>Skills Required</th>
              <th>Salary</th>
              <th>Deadline</th>
              <th>Action</th>
          </tr>

          {% for job in job_data %}
          <tr>
              <td>{{forloop.counter}}</td>
              <td>{{job.job_title}}</td>
              <td>{{job.skills_required}}</td>
              <td>{{job.salary}}</td>
              <td>{{job.deadline}}</td>
              <td>
                  {% if request.user.user_type == 'Employer' %}
                  <a href="{% url 'update_job' job.id %}" class="btn btn-secondary">Edit</a>
                  <a href="{% url 'delete_job' job.id %}" class="btn btn-danger">Delete</a>
                  <a href="{% url 'applicant_list' job.id %}" class="btn">Applicant List</a>
                  {% else %}
                  <a href="{% url 'applied_job' job.id %}" class="btn">Apply Now</a>
                  {% endif %}
              </td>
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}
    