{% extends 'master/base.html' %}

{% block content %}
<div class="container">
  <div class="card">
    <h2>Update Job</h2>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="fname">Job Title</label>
          <input type="text" id="fname" value="{{job_data.job_title}}" name="job_title" placeholder="Your job_title..">
        </div>

        <div class="form-group">
          <label for="fname">Description</label>
          <input type="text" id="fname" value="{{job_data.description}}" name="description" placeholder="Your description..">
        </div>

        <div class="form-group">
          <label for="fname">Skills Required</label>
          <input type="text" id="fname" value="{{job_data.skills_required}}" name="skills_required" placeholder="Your skills_required..">
        </div>

        <div class="form-group">
          <label for="fname">Salary</label>
          <input type="text" id="fname" value="{{job_data.salary}}" name="salary" placeholder="Your salary..">
        </div>

        <div class="form-group">
          <label for="fname">Deadline</label>
          <input type="date" id="fname" value="{{job_data.deadline|date:'Y-m-d'}}" name="deadline">
        </div>

      <input type="submit" value="Update Job">
    </form>
  </div>
</div>
{% endblock content %}
    